.list {
    @apply absolute left-5 top-2/4 bg-[#242424c9] flex flex-col px-2 py-2 rounded-lg overflow-hidden;

    >button {
        @apply relative left-3/4;

        >svg {
            margin-bottom: 0.25rem;
        }
    }

    button.active {
        @apply static;
    }

    ul>li {
        transition: color .3s ease;
        &:hover{
            color: #fce3c2;
        }
        >a {
            @apply flex justify-start items-center;
        }
    }

    ul>li:not(:last-child) {
        @apply pb-1;
    }
}

.icon {
    @apply mr-2 min-w-[24px] min-h-[24px];
}

svg {
    height: 30px;
    width: 30px;
}