.inputFile {
    transition: color .3s ease;
    @apply flex flex-col justify-center items-center ml-3 p-3;
    &:hover{
        color: #fce3c2;
    }
    border: dashed 1px #ffffff ;
    input {
       display: none;
    }
    label{
        width: 200px;
        height: auto;
    }
    >svg{
        @apply w-24 h-24;
    }
}