.main {
    @apply flex  justify-center items-center h-screen overflow-hidden;

    >.wrapper {
        @apply flex p-5;

        >.inputFile {
            transition: color .3s ease;
            @apply flex flex-col justify-center items-center ml-3 p-3;
            &:hover{
                color: #fce3c2;
            }
            border: dashed 1px #ffffff ;
            >input[type="file"] {
               display: none;
            }
            >svg{
                @apply w-24 h-24;
            }
        }
    }
}